<button (click)="handleOnClick()" class="
        w-full h-full min-h-fit min-w-fit p-1 cursor-pointer group
        transition-all
        duration-150
        rounded-sm
        bg-{{bgColor}} border border-{{bgColor}}
        hover:bg-{{hoverBgColor}}
        text-{{color}}
        hover:border-{{hoverColor}}
        {{disabled ? 'opacity-50 pointer-events-none' : ''}}
    " [disabled]="disabled">
  <div class="flex items-center">
    <p class="group-hover:mx-2 group-hover:text-{{hoverColor}} transition-all duration-150">
      {{label}}
    </p>
    <ng-icon [name]="loading ? 'featherLoader' : name" class="
            transition-all
            duration-150
            mx-1
            group-hover:mx-2
            group-hover:text-{{hoverColor}}
            text-{{color}}
            {{loading ? 'motion-reduce:hidden animate-spin' : ''}}
            ">
    </ng-icon>
  </div>
</button>