.navigator {
  width: 100vw;
  height: fit-content;
  border-top: 0.125rem solid var(--clr-neutral-300);
  padding: 0.5rem;

  position: absolute;
  bottom: 0;
  .content {
    display: flex;
    gap: var(--spacing-xl);
    align-items: center;
    justify-content: center;

    .nav-item {
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-sm);
      transition: all 0.2s ease;
      opacity: 0.6;
      filter: grayscale(1);
      
    
      &[data-active="true"] {
        opacity: 1;
        filter: grayscale(0);
      }
      
    
      img, svg, ng-icon, .nav-icon {
        max-width: 2rem;
        max-height: 2rem;
      }
      .nav-icon {
        margin-inline: 1rem;
      }
    
      .active-accent {
        height: 0.25rem;
        width: 0.25rem;
        border-radius: 0.125rem;
        opacity: 0;
      }
      &[data-active="true"] .active-accent {
        animation: accentSpawn 400ms ease;
        animation-fill-mode: forwards;
      }
      &[data-active="false"] .active-accent {
        animation: accentDisspawn 200ms ease;
        animation-direction: reverse;
      }
    }
  }

}

@keyframes accentSpawn {
  0% {
    transform: translateY(-200%);
    width: 0.25rem;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 0.25rem;
    transform: translateY(0);
    width: 100%;
  }
}

@keyframes accentDisspawn {
  0% {
    transform: translateY(-200%);
    width: 0.25rem;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 0.25rem;
    transform: translateY(0);
    width: 100%;
  }
}