<div class="navigator">
  <div class="content">
    <a
      [routerLink]="tab.path"
      (click)="handleClick(tab.name)"
      *ngFor="let tab of tabs"
      class="nav-item"
      style="--accent-color: var({{tab.color}})"
      [attr.data-active]="tab.name === currentTab">
      <div class="nav-icon">
        <ng-icon *ngIf="tab.type === 'icon'" [name]="tab.src" size="2rem"></ng-icon>
        <img *ngIf="tab.type === 'image'" [src]="tab.src" alt="">
      </div>
      <div class="active-accent"></div>
    </a>
  </div>
</div>