<div class="" (click)="onClick()">
    <div class="">
        <div class=""></div>
        <div class="">
            <p>Vine id</p>
        </div>
    </div>
    <div class="content-container">
        <ul class="content-list">
            <li class="content-list-item"><span>status: </span>harvested</li>
            <li class="content-list-item"><span>type: </span>green</li>
            <li class="content-list-item"><span>last maintenance: </span>date here</li>
            <li class="content-list-item"><span>last harvested: </span>date here</li>
            <li class="content-list-item"><span>Qty of grapes: </span>5</li>
        </ul>
        <div class="vine-notes-container">
            Notes
        </div>
        <div class="tag-container">
            <p>i am a tag</p>
        </div>
    </div>
</div>
