<div class="list">
    <div class="vine-container" (click)="onClick">
        <div class="header-container">
            <div class="icon"></div>
            <div class="title-container">
                <p>Vine id</p>
            </div>
        </div>
        <div class="content-container">
            vine type details
            <div class="tag-container">
                <p>i am a tag</p>
            </div>
        </div>
    </div>
    <div class="vine-container" (click)="onClick">
        <div class="header-container">
            <div class="icon"></div>
            <div class="title-container">
                <p>Vine id</p>
            </div>
        </div>
        <div class="content-container">
            vine type details
            <div class="tag-container">
                <p>i am a tag</p>
            </div>
        </div>
    </div>
</div>
