$height: 2em;
.tag-container {
    height: $height;
    min-width: calc($height*2);
    border-radius: calc($height * 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}