<div class="login-container">
  <img src="assets/logo.svg" alt="Ravenhill Logo"> <!-- Adjust the path as needed -->
  <p class="title">Raven<span>hill</span></p>
  <form [formGroup]="loginForm" (ngSubmit)="login">
    <div class="inputs-container">
      <app-text-field [fg]="loginForm" type="email" formControlName="email" placeholder="Username" required />
      <app-text-field [fg]="loginForm" type="password" formControlName="password" placeholder="Password" required />
      <div class="optional-container">
        <div *ngIf="newUser; else signin">
          <p class="" i18n>
            already have an account ?
            <button (click)="toggleRegister()" type="button">Login instead.</button>
          </p>
          <button class="submit" type="submit">register</button>
        </div>
        <ng-template #signin>
          <p class="" i18n>
            Don't have an account ?
            <button class="option" (click)="toggleRegister()" type="button">Create one.</button>
          </p>
          <button class="submit" type="submit">Login</button>
        </ng-template>
      </div>
    </div>
  </form>
</div>