<div class="flex justify-center h-24 align-middle items-center w-full z-50">
    <div class="flex justify-between gap-4 rounded-full p-2 bg-blue-500 shadow-slate-400 shadow-xl relative">
        <div class="absolute inset-0 p-2 rounded-full overflow-hidden flex">
            <div
                class="w-16 h-16 bg-slate-50 rounded-full shadow-md shadow-blue-200 transition-all duration-500 ease-out"
                [@routeAnimation]="routeAnimationState"
                >
            </div>
        </div>
        <app-navigator-item
            *ngFor="let item of navigatorItems"
            [active]="item === currentRoute"
            [route]="item"
            (routeChange)="handleOnClick(item)"
            ></app-navigator-item>
    </div>
</div>