.rowContainer {
  --color: #00000020;
  border-radius: 1rem;
  border: 0.2rem solid var(--color);
  margin: 1rem 0.5rem;
  padding: 0.85rem;
  position: relative;

  .wrapper-content {
    overflow: hidden;
  }
}

.rowHeader {
  position: absolute;
  top: -1rem;
  left: 1.2rem;
  background-color: white;
  padding: 0.125rem;

  span {
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #00000080;
    text-transform: capitalize;
  }
}