<form method="post" [formGroup]="formGroup" class="w-full flex flex-col gap-1" (submit)="handleSubmit($event)">
  <div>
    <app-input controlName="name" label="name" [formGroup]="formGroup"></app-input>
  </div>
  <div>
    <app-textarea class="h-24" controlName="desc" label="description" [formGroup]="formGroup"></app-textarea>
  </div>
  <div class="flex justify-end gap-1">
    <div>
      <app-button-icon (handleClick)="handleOnCancel()" [loading]="loading" name="featherX"
        label="Cancel"></app-button-icon>
    </div>
    <div>
      <app-button-icon [loading]="loading" [name]="icon" label="Create"></app-button-icon>
    </div>
  </div>
</form>