<form [formGroup]="fieldForm" (submit)="submit()" class="">
  <div class="grid grid-cols-6 py-4 mt-2 gap-4 max-h-[80vh]">
    <div class="col-span-6 p-2 h-min">
      <div class="flex justify-between items-center">
        <button (click)="back()" class="group/back cursor-pointer">
          <div class="flex gap-2 group-hover/back:gap-4 transition-all ease duration-200 items-center">
            <ng-icon class="text-neutral-500 group-hover/back:text-green-600" name="featherArrowLeft"
              size="1.5rem"></ng-icon>
            <p class="text-xl text-neutral-500 group-hover/back:text-green-600 font-semibold capitalize">back</p>
          </div>
        </button>
        <button [disabled]="fieldForm.invalid" type="submit" class="
            px-4 py-2 rounded-full 
            transition-all ease duration-150
            text-green-600
            border border-green-600
            hover:bg-green-600 hover:text-white
            hover:shadow
            disabled:bg-neutral-200
            disabled:text-neutral-500
            disabled:hover:shadow-none
            disabled:border-none
            disabled:hover:border-none">
          <p *ngIf="!submitting" i18n>{{id ? 'Save' : 'Create'}}</p>
          <ng-icon *ngIf="submitting" name="featherLoader" class="animate-spin text-green-600"></ng-icon>
        </button>
      </div>
    </div>
    <div class="col-span-6 lg:col-span-2 bg-white rounded-lg shadow overflow-y-auto overflow-x-clip">
      <div class="flex items-center justify-items-start gap-2 px-4 p-2">
        <p i18n class="text-center text-xl font-bold capitalize">Field Properties 🪴</p>
      </div>
      <input type="hidden" name="id" formControlName="id">
      <div class="flex gap-2 justify-center items-center px-4 py-2">
        <label class="flex" for="identifier" i18n>identifier<span class="text-red-600">*</span></label>
        <input type="text" formControlName="name" name="name" placeholder="identifier" id="">
      </div>
      <div class="flex gap-2 justify-center items-center px-4 py-2">
        <label class="flex" for="identifier" i18n>orientation</label>
        <input type="text" formControlName="orientation" name="orientation" placeholder="orientation" id="">
      </div>
      <div class="flex gap-2 justify-center items-center px-4 py-2">
        <label class="flex" for="identifier" i18n>notes</label>
        <textarea type="text" formControlName="notes" name="notes" placeholder="notes" id=""></textarea>
      </div>
    </div>
    <div class="flex col-span-full lg:col-span-4 row-start-2 lg:row-span-4 overflow-clip">
      <app-vine-list [vines]="fieldForm.value.vines" />
    </div>
    <div class="col-span-6 row-span-2 lg:col-span-2">
      <app-create-bulk-vine [(value)]="fieldForm.value.vines" [parentId]="id"></app-create-bulk-vine>
    </div>
  </div>
  <div class="rounded-lg bg-white shadow col-span-full">
    <p>allo</p>
  </div>
</form>