.profile-content {
  padding: var(--spacing-md);

  .menu {
    padding: 0.5rem;
  }

  .logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);

    button {
      padding: 0.5rem 1rem;
      color: var(--clr-blue-500);
      text-decoration: underline;
      cursor: pointer;
      font-weight: var(--fw-md);

      &:hover {
        color: var(--clr-neutral-900);
      }
    }
  }
}