<div class="flex mb-4 justify-between">
  <div class="flex gap-2">
    <ng-icon class="text-green-600" name="featherFeather" size="2rem"></ng-icon>
    <p class="text-xl text-black font-semibold capitalize">fields</p>
  </div>
  <a routerLink="/control-panel/field_management/create">
    <div
      class="px-4 py-2 rounded-full hover:shadow-lg text-green-600 hover:text-white hover:bg-green-600 transition-all ease duration-200">
      <p class="font-semibold capitalize">add field</p>
    </div>
  </a>
</div>
<div class="h-full w-full">
  <div class="flex h-20 overflow-hidden">
    <div class="p-2 flex items-center justify-center">
      <p i18n>#</p>
    </div>
    <div class="flex flex-1 justify-center items-center overflow-x-auto overflow-y-hidden p-2">
      <p i18n>identifier</p>
    </div>
    <div class="flex flex-1 justify-center items-center overflow-x-auto overflow-y-hidden p-2">
      <p i18n>name</p>
    </div>
    <div class="flex flex-1 justify-center items-center overflow-x-auto overflow-y-hidden p-2">
      <p i18n>actions</p>
    </div>
  </div>
  <div class="w-full max-h-[80vh] overflow-x-clip overflow-y-auto mb-4">
    <div class="flex flex-col gap-2">
      @for (field of data | async; track $index) {
      <app-field-item [name]="field.name" [id]="field.id" [index]="$index"></app-field-item>
      }
    </div>
  </div>
</div>