<app-page-wrapper [overwriteHeaderContent]="true" [headerInfo]="headerInfo">
  <div class="m-4 p-4 bg-white rounded shadow">
    <div class="grid grid-cols-1 gap-4">
      <div class="grid grid-cols-3 gap-2">
        <div class="">
          <p>
            id
          </p>
        </div>
        <div class="">
          <p>
            name
          </p>
        </div>
        <div class="">
          <p>
            actions
          </p>
        </div>
      </div>
    </div>
  </div>
</app-page-wrapper>