<div (click)="handleOnClick()" aria-hidden="true" [formGroup]="formGroup"
  class="relative overflow-hidden rounded-sm group/container w-full h-full">
  <div class="flex-col flex px-4 py-2 transition-all duration-100">
    <label [for]="controlName" class="transition-all duration-100
            text-sm
            {{focused ? 'text-blue-600 opacity-100' : 'opacity-60'}}
            {{formControlStatus.invalid && formControlStatus.touched ? ' text-red-600 opacity-100' : 'opacity-60'}}
            ">
      {{label}}
    </label>
    <textarea #input class="bg-transparent h-full outline-none peer placeholder:italic
                pt-1
                {{formControlStatus.invalid && formControlStatus.touched ? 'text-red-600' : ''}}
            " [placeholder]="placeholder" [value]="value" formControlName="{{controlName}}" (focus)="handleOnFocus()"
      (blur)="handleOnBlur()">
    </textarea>
  </div>
  <div class="absolute bottom-0 flex justify-center items-center w-[100%]">
    <div class="
            transition-all duration-200 ease-in-out w-100 h-0.5
            bg-blue-600
            {{focused ? 'w-[100%]':'w-0'}}
        "></div>
  </div>
  <div class="absolute bottom-0 flex justify-center items-center w-[100%]">
    <div class="
            transition-all duration-200 ease-in-out h-0.5
            {{formControlStatus.invalid && formControlStatus.touched ? 'bg-red-600 w-[100%]' : 'w-0'}}
        "></div>
  </div>
  <div class="
        absolute inset-0 -z-10
        {{focused ? 'opacity-20 bg-neutral-600' : 'group-hover/container:opacity-10 bg-neutral-600 opacity-5'}}
        dark:bg-white
    "></div>
</div>